.nav {
    width: 80%;
    margin: 0 auto;
}

.course {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 45px auto;
    min-height: 30vh;
    gap: 30px;

    background-color: var(--block-background-color);
    border-radius: 7px;
    padding: 45px 60px;
}