:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */
  
  /* background-color: #242424; */
  --background-color: rgb(104, 104, 104);
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 10px; */
  /* width: 100%;
  height: 100%; */
}


/* Удалить. Общие временные стили. */

.temporary-page-title {
  text-align: center;
  margin-top: 20px;
}

/* ^ Общие временные стили. */



@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
